
.vs/Proyecto Final/v15/.suo
.vs/Proyecto Final/v15/Browse.VC.db
.vs/Proyecto Final/v15/ipch/AutoPCH/12b0263291f3d32a/MAIN_PRAC11.ipch
.vs/Proyecto Final/v15/ipch/AutoPCH/2576edc231e3eae1/TEXTURE.ipch
.vs/Proyecto Final/v15/ipch/AutoPCH/a04521df19844221/MAIN_PRAC11.ipch
Debug/Proyecto Final.exe
Debug/Proyecto Final.ilk
Debug/Proyecto Final.pdb
Proyecto Final/.vs/Proyecto Final/v15/.suo
Proyecto Final/.vs/Proyecto Final/v15/Browse.VC.db
Proyecto Final/Debug/Main_prac11.obj
Proyecto Final/Debug/Proyecto Final.log
Proyecto Final/Debug/Proyecto Final.tlog/CL.command.1.tlog
Proyecto Final/Debug/Proyecto Final.tlog/CL.read.1.tlog
Proyecto Final/Debug/Proyecto Final.tlog/CL.write.1.tlog
Proyecto Final/Debug/Proyecto Final.tlog/link.command.1.tlog
Proyecto Final/Debug/Proyecto Final.tlog/link.read.1.tlog
Proyecto Final/Debug/Proyecto Final.tlog/link.write.1.tlog
Proyecto Final/Debug/Proyecto Final.tlog/Proyecto Final.lastbuildstate
Proyecto Final/Debug/vc141.idb
Proyecto Final/Debug/vc141.pdb
Proyecto Final/x64/Debug/Main_prac11.obj
Proyecto Final/x64/Debug/Proyecto Final.Build.CppClean.log
Proyecto Final/x64/Debug/Proyecto Final.log
Proyecto Final/x64/Debug/Proyecto Final.tlog/CL.command.1.tlog
Proyecto Final/x64/Debug/Proyecto Final.tlog/CL.read.1.tlog
Proyecto Final/x64/Debug/Proyecto Final.tlog/CL.write.1.tlog
Proyecto Final/x64/Debug/Proyecto Final.tlog/link-cvtres.read.1.tlog
Proyecto Final/x64/Debug/Proyecto Final.tlog/link-cvtres.write.1.tlog
Proyecto Final/x64/Debug/Proyecto Final.tlog/link-rc.read.1.tlog
Proyecto Final/x64/Debug/Proyecto Final.tlog/link-rc.write.1.tlog
Proyecto Final/x64/Debug/Proyecto Final.tlog/link.command.1.tlog
Proyecto Final/x64/Debug/Proyecto Final.tlog/link.read.1.tlog
Proyecto Final/x64/Debug/Proyecto Final.tlog/link.write.1.tlog
Proyecto Final/x64/Debug/Proyecto Final.tlog/Proyecto Final.lastbuildstate
Proyecto Final/x64/Debug/Proyecto Final.tlog/unsuccessfulbuild
Proyecto Final/x64/Debug/vc141.idb
Proyecto Final/x64/Debug/vc141.pdb
x64/Debug/Proyecto Final.pdb
